<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">You've Discovered Someone's Secret!</h1>
    
    <a class="btn btn-danger btn-lg" role="button" onclick="deleteAccount()" <%= oauthUser ? "" : "hidden"%>>Delete account</a>
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    <hr>
    <% secrets.forEach((secret)=>{ %>
      <p class="secret-text"><%=secret%></p>
    <%})%>
  </div>
</div>

<script>
  function deleteAccount() {
    if(confirm("Please confirm that you want to delete this account")){
      fetch(window.location.origin+'/delete',{ method: "POST", redirect:"follow"})
      .then(response => {
        if (response.redirected) {
            window.location.href = response.url;
        }
      })
      .catch(function(err) {
        console.info(err + " url: " + url);
      });
    } else {
    }
  }
</script>

<%- include('partials/footer') %>
